// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$mybeige:  #093557;

$mydarkblue: #093557;
$myblue: #60B2F0;
$mylightblue: #C1DCF0;
$myturquoise: #5EBDB2;
$myred: #F04542;

$mydarkblueHalfOp: #09355774;
$myblueHalfOp: #60b2f079;
$mylightblueHalfOp: #c1dcf087;
$myturquoiseHalfOp: #5ebdb27d;
$myredHalfOp: #f045427d;
