.table {
  a {
    text-decoration: none;
    color: var(--bs-table-color);
    font-weight: normal;
  };
  border-radius: 5px;
  background-color: whitesmoke;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  thead {
    background-color: $mydarkblue;
    color: white;

    a {
      color: white;
    }
  };

  thead>tr>th>a:hover {
    color: whitesmoke !important;
    cursor: pointer;
  }

  tbody>tr {
    &:hover {
      background-color: #60b2f023;

      th > a {
        color: whitesmoke !important;
      }
     }
  }
}

.bdr-tl-5 {
  border-radius: 5px 0 0 0 !important;
}

.bdr-tr-5 {
  border-radius: 0 5px 0 0 !important;
}

.table-striped>tbody>tr:nth-child(odd) {
 background-color: #60b2f051;

 &:hover {
  background-color: #60b2f023;
 }
}
