.school{
  .simple_form {
    .assignment_teacher{
      margin:0!important;
    }
    .s-style{
      width: 20em;
    }
  }

  .card{
      border-radius: 10px!important;
      -webkit-border-radius: 10px!important;
      -moz-border-radius: 10px!important;
      -ms-border-radius: 10px!important;
      -o-border-radius: 10px!important;
      box-shadow: 10px;

        .list-group-flush{
          border-radius: 10px!important;
          -webkit-border-radius: 10px!important;
          -moz-border-radius: 10px!important;
          -ms-border-radius: 10px!important;
          -o-border-radius: 10px!important;
        }

  }

  .high{
    color:red
  }

  .medium{
    color:orange;
  }

  .low{
    color:green;
  }
}
