.school{
  .simple_form {
    .assignment_teacher{
      margin:0!important;
    }
    .s-style{
      width: 20em;
    }
  }

  .card{
      border-radius: 10px!important;
      -webkit-border-radius: 10px!important;
      -moz-border-radius: 10px!important;
      -ms-border-radius: 10px!important;
      -o-border-radius: 10px!important;
      box-shadow: 10px;

        .list-group-flush{
          border-radius: 10px!important;
          -webkit-border-radius: 10px!important;
          -moz-border-radius: 10px!important;
          -ms-border-radius: 10px!important;
          -o-border-radius: 10px!important;
        }

  }

  .high{
    color:red
  }

  .medium{
    color:orange;
  }

  .low{
    color:green;
  }

}

.message {
  h4 {
    margin-bottom: 0;
  }
  border-radius: 7px;
  margin-bottom: 10px;
}

#chart-1 {
  padding-top: 3rem;
}

.searcher {

  .form-control {
    &:focus {
      box-shadow: none;
    }
  }

  ul {
    a {
      text-decoration: none;
      color: black
    }

    border-left: solid #dee2e6 1px;
    border-right: solid #dee2e6 1px;
    border-bottom: solid #dee2e6 1px;
    border-radius: 2px;
    list-style-type: none;
    padding-left: 0px;

    li {

      padding-left: 10px;

      &:hover {
        background-color: lightgrey;
      }
    }

  }
}
.back-semi-opaque{
  background-color: rgba(255, 255, 255, 0.7);
}
