<div class="container">
<h1>Assignation pour M.me <%= @assignment.teacher.name %></h1>

<h2><%= @assignment.school.name %>
<br>
<p><%= @assignment.school.address %></p>
<br>
<p>Message du directeur : <%= @teacher.assignment.teacher_message %> </p>

<%# Ici la map %>
</div>
