<div class="navbar navbar-expand-sm navbar-light mb-3 d-block">
    <%  if current_user.role = 1 %>
    <%= render "shared/navgest" %>
    <% else %>
    <%= render "shared/navdir" %>
    <% end %>
</div>
