<div class="container">
  <br>
  <h1 class="text-center">Bienvenue sur GesProf</h1>
  <br>
  <h3 class="bg-light text-center">Gestion de l'affectation des professeurs</h3>
  <h3 class="bg-light text-center">remplaçants dans les écoles primaires.</h3>
</div>
