 <%= simple_form_for [:schools, assignment] do |f| %>
    <div class="card">
      <div class="row">
        <div class="col">
          <%= f.input :teacher_message, label:"Message au remplaçant" %>
        </div>
        <div class="col">
          <%= f.input :area_message, label:"Message au gestionnaire" %>
        </div>
      </div>
    </div>
      <div>
        <%= f.button :submit, "Valider", class:"btn btn-primary" %>
      </div>
    </div>
  <% end %>
