.navbar {
  justify-content: space-between;
  background: transparent;
  color: $mydarkblue;
  padding-top: 15px;
  padding-bottom: 10px;

  .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-brand img {
    width: 200px;
    height: 100px;
    object-fit: cover;
  }

  .btn {
    background-color: $mydarkblue;
  }

  .btn a {
    color: white;
    text-decoration: none;
  }
}
