body{
  background-color: white;
  min-height: 100vh;
  background-image: image-url("GPBckGnd.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
