body{
  background-color: white;
  min-height: 100vh;
  background-image: image-url("GPBckGnd.png");
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  position:relative;
  }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 5vh 0 5vh;
  background-color: #093557d8 ;
  color: $mylightblue;
  font-size: smaller;
  margin-top: 1rem;
}
