// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// @import "flatpickr/dist/flatpickr";
.nestedform {
  background: none;
  border-width: 0px;
}

.choicelist ul {
  list-style: none;
}

.choicelist a {
  text-decoration: none;
}

.btn-outline-primary {
  background-color: white;
}


// #btnwhite {
//   background-color: white;
// }
