<div class="searcher" data-controller="autocomplete">
  <% @parsed_schools = School.where(area: current_user.area).pluck(:name, :id).sort %>
  <%= form_tag(area_schools_path(@parsed_schools), method: :get, class: "form-inline") do %>
    <div class="form-search"  data-autocomplete-target="form" data-schools="<%= @parsed_schools.to_json %>", data-action = "keyup->autocomplete#search">
    <%= text_field_tag :name, nil, autocomplete: :off, class: "form-control search-input", placeholder: "Cherchez une école...", data: {autocomplete_target: "input"}%>
    <%# <%= submit_tag "Recherche", class: "btn btn-primary button-home" %>
    </div>
 <% end %>
 <ul class="suggestions" data-autocomplete-target="suggestions">
 </ul>
</div>
